
<mat-card>
    <h2>Create New Post</h2>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- <form (submit)="addSavePost()" *ngIf="!isLoading"> -->
        <mat-form-field>
            <mat-label>Title</mat-label>
        <input 
            type="text" 
            name="title" 
            matInput 
            placeholder="Enter here title" 
        >
   
            <mat-error>Please Enter the title</mat-error>
       
        </mat-form-field>
        <mat-form-field>    
            <mat-label>Description</mat-label>
            <textarea 
                matInput rows="6" 
                
                name="description" 
                
                
                >
            </textarea>
          
           
                <mat-error>Please Enter the description</mat-error>
            
        </mat-form-field>
        <div>
            <button mat-strock-button class="image_button" color="primary" type="button" (click)="filePicker.click()">Choose a File</button>
            <input type="file" #filePicker/>
        </div>
        <button mat-raised-button color="primary" type="submit">Add New Post</button>
    <!-- </form> -->
</mat-card>

