
<!-- <mat-card>
    <h2>Create New Post</h2>
    <mat-form-field>
        <mat-label>Title</mat-label>
    <input type="text" matInput placeholder="Enter here title"  [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput rows="6" [(ngModel)]="description"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addNewPost()">Save Me</button>   
</mat-card> -->

<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->


<mat-card>
    <h2>Create New Post</h2>
    <form (submit)="addSavePost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
        <input type="text" name="title" matInput placeholder="Enter here title" [ngModel]="post?.title" required #title="ngModel">
        @if (title.invalid) {
            <mat-error>Please Enter the title</mat-error>
        }
        </mat-form-field>
        <mat-form-field>    
            <mat-label>Description</mat-label>
            <textarea matInput rows="6" [ngModel]="post?.description" name="description" required #description="ngModel"></textarea>
          
            @if (description.invalid) {
                <mat-error>Please Enter the description</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Add New Post</button>
    </form>
</mat-card>

